<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OkanAydoganProje.Properties.Settings.AyEczanesiConnectionString"
            connectionString="Data Source=DESKTOP-QHU8769;Initial Catalog=AyEczanesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>